 @import "tailwindcss"; 

/* html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


body {
 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
  padding-bottom: 2rem;
} */


